body{
    background-position: center;
}
.jumbotron{
    color: #ebebeb;
    width: 100%;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    background: none;
    margin-top: 10px;
    border-bottom: solid;
    border-radius: 0;
    text-align: center;
    align-content: center;
    margin-right: 0;
    margin-left: 0;
}
#search-term{
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    margin: auto;
}
hr{
    color: #ebebeb;
    padding: 1px;
    margin: 0;
}
.main{
    margin: auto;
    background: none;
    text-align: center;
    align-content: center;
}

#title{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 65px;
font-weight: lighter;

}
#directions{
font-family: 'Lato', sans-serif;
font-size: 20px;
padding-bottom: 5px;
font-weight: bolder;
padding-top: 0px;
padding-left: 10%;
padding-right: 10%;
text-align: center;
margin-top: 5px;
}
#results-section{
    margin: auto;
    padding: 10px;
    
}
#music-results{
    background-color: rgba(178, 178, 179, 0.164);
    

}
#sports-results{
    background-color: rgba(178, 178, 179, 0.164);

}
.link-result{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #3d475a;
}
.link-result.hover{

}
ul{
    background: none;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}
form{
    padding: top;
    margin-top: 0;
}
.card{
    display: inline-block;
    margin: 10px;
    text-align: center;
    align-content: center;
    border: solid;
    border-radius: 10px;
    border-block-color: #ebebeb;
    font-family: 'Lato', sans-serif;
    color: #ebebeb;
    box-shadow: 2px 2px 4px #000000;
    background-color: #505052;
    
}
.list-group-item{
    border: none;
    
}
.li-card-last{
    overflow: auto;
    margin-bottom: 10px;
    background: none;

}
.li-card{
    overflow: auto;
    background: none;

}
.info-card{
    overflow: auto;
    background: none;
    height: 50px;



}
#reset-btn{
    margin: 10px;

}
