.container{
    width: 70%;
}
.jumbotron{
    /* background-image: url("../images/amusement-park-crop.jpg");
    background-position: center bottom; */
    background-color:#b1fff9;
}
.main{
    width: 70%;
    margin: auto;
}
